@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@100;200;300;400;500;600;700;800&family=Press+Start+2P&family=Source+Code+Pro:wght@50&display=swap');

*
 {
    padding: 0;
    margin: 0;
    font-family: serif, arial, helvetica;
}
body {
    background-image: url('/assets/img/StockSnap_FSOBBNPKKZ.jpg');
    background-repeat: no-repeat;      
    background-clip: cover;
}

header {
    background-color:#0e172c;;
    box-shadow: 0px 3px 10px #000000;
 }

 .navbar { 
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #fff;
    
}


.nav-list {
   display: flex;
   align-items: center;
   
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
    
}

.item-nav {
  margin: 0 15px;
}

.link-item {
  text-decoration: none;
  font-size: 1.15rem;
  color: #fffffe;
  font-weight: 400;

}

.relogio {
    font-family: 'Press Start 2P';
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background-attachment: transparent;
    border-radius: 25px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0,.5);
    margin-top: 125px;
    padding-bottom:  10px;
    margin-left: 480px;
}

.relogio div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    color: #fff;
    background: #0e172c;
    box-shadow: 5px 5px 15px #000;
    border-radius: 25px;
    letter-spacing: 3px;
}

.relogio span {
    font-weight: bolder;
    font-size: 60px;
}

.relogio span.tempo {
    font-size: 10px;
}






@media screen and (max-width: 730px) {
    .navbar {
    padding: 1.5rem 4rem;
    }

    .item-nav {
        display: none;
    }
    .item-nav  {
        display: block;
        padding-top: 1.2rem;
    }
    .open {
        display: block;
    }
}
